<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.FitnessTypeMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.FitnessType">
    <constructor>
      <idArg column="fitnessToolId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from fitness_type
    where fitnessToolId = #{fitnesstoolid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.FitnessType">
    insert into fitness_type (fitnessToolId, `name`)
    values (#{fitnesstoolid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.FitnessType">
    update fitness_type
    set `name` = #{name,jdbcType=VARCHAR}
    where fitnessToolId = #{fitnesstoolid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select fitnessToolId, `name`
    from fitness_type
    where fitnessToolId = #{fitnesstoolid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select fitnessToolId, `name`
    from fitness_type
  </select>
</mapper>