<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OnRecordMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.OnRecord">
    <constructor>
      <idArg column="userId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="onTime" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="roomId" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from on_record
    where userId = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.OnRecord">
    insert into on_record (userId, `name`, onTime, 
      roomId)
    values (#{userid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{ontime,jdbcType=VARCHAR}, 
      #{roomid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.OnRecord">
    update on_record
    set `name` = #{name,jdbcType=VARCHAR},
      onTime = #{ontime,jdbcType=VARCHAR},
      roomId = #{roomid,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select userId, `name`, onTime, roomId
    from on_record
    where userId = #{userid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select userId, `name`, onTime, roomId
    from on_record
  </select>
</mapper>